.qr-container{
    margin-top: 50px;
    text-align: center;

}
.btn-back{
    margin-top: 1em;
}
.host-container{
    margin-bottom: 40px;
}
.addr-container{
    margin-top: 25px;
    
}
.host-container h5{
    margin-bottom: 0px;
}